.env
chroma_db
myenv
uploads
myenv/
venv/
.env
.venv

chroma_db/
uploads/
temp/
tmp/

app/worker/__pycache
*.pyc
*.pyo
*.pyd
.Python


.vscode/
.idea/
*.swp
*.swo

*.log
logs/

*.local
*.pid



.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/


